/*ページ全体の余白削除------------------------------------*/
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration-line: none; /* 下線の削除 */
    color: inherit;  /* 親要素のスタイルに色を合わせる */
}

/*ヘッダーのスタイル実装----------------------------------*/

.header{
    width: 100%;
    height: 80px;
    background: #ffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /*シャドウ*/
    position: fixed; /* ウィンドウを基準に画面に固定 */
    display:flex;
    justify-content: space-between;
}

.header .frame {
    width: fit-content;
    display: flex;
}

.header h1 {
    margin: auto 20px ;
}

.menu{
    width: fit-content;
    margin: auto 0;
    margin-left: 30px;
}

.menu ul{
    padding: 0px;
}

.menu li{
    display: inline;
    list-style: none; /*"・"を消す*/
    margin-right: 20px;
    margin-left: 20px;
}

.contact {
    width: fit-content;
    display: flex; /*横並び*/
    padding: 7px 30px;
    border: solid 0.5px #060606;
    border-radius: 100px; /*丸み*/
    margin: auto 0;
    margin-right: 20px;
}

.contact .icon{
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.contact p{
    width: fit-content;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.hamburger {
    margin: auto 0;
    margin-left: 15px;
    margin-right: 15px;
}

/*メインのスタイル実装--------------------------------*/

/*トップイメージのスタイル*/
.topimage{
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

/*おすすめセクションのスタイル*/
.recommend { 
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    margin-top: 70px;
}

.recommend .topic img{
    width: 100%;
}

.recommend .topic p{
    width: 100%;
    overflow-wrap: break-word; /*テキストの折り返し*/
    margin: 0;
}

/*SECTION全体のスタイル*/
.section-tittle{
    width: fit-content;
    margin: 0 auto;
    font-size: 40px;
}

.content{
    margin-top: 50px;
}

.button{
    width: 200px ;
    text-align: center; /*文字を中心に*/
    padding: 10px 10px;
    border: solid 0.5px #060606;
    border-radius: 100px; /*丸み*/
    display: block;
    margin: 0px auto;
    margin-top: 50px;
}

/*SECTION1のスタイル*/
.section1{
    margin-top: 100px;
}

.section1 .news{
    border-bottom: 0.3px solid #828282; /*下線*/
    margin-top: 30px;
}

.section1 .news h4{
    width: 100%;
    color: #656565;
    overflow-wrap: break-word; /*テキストの折り返し*/
    margin: 0;
}

.section1 .news .detail{
    width: 100%;
    color: #828282;
    display: flex;
    margin: 10px 0px 10px 0px;
}

.section1 .news .detail p{
    margin: 0;
}

/*SECTION2のスタイル*/
.section2{
    margin-top: 100px;
}

.section2 iframe{
    margin-top: 20px;
}

/*SECTION3のスタイル*/
.section3{
    text-align: center; /*要素をすべて中央寄せ*/
    margin-top: 100px;
}

/*SNSリンク部分スタイル*/
.snslink {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

/*フッターのスタイル実装------------------------------*/

.footer{
    margin-top: 50px;
    border-top: 0.3px solid #828282; /*下線*/
}

.footer ul{
    padding: 0px;
    width: fit-content;
    margin: 30px 0px 10px 0px;
}

.footer li{
    display: inline;
    list-style: none; /*"・"を消す*/
    color: #828282;
    margin-right: 20px;
}

.footer small{
    width: fit-content;
    color: #828282;
    display: block;
    margin-bottom: 30px;
}


/*PC用レスポンシブ*/
@media screen and (1024px < width) {

    /*全体を中央に配置*/
    .center-frame{
        width: 900px;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    .recommend .topic{
        width: 270px;
        height: fit-content;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    iframe{
        width: 100%;
        height: 500px;
    }

    .snslink a{
        margin: 0px 20px;
    }
}


/*タブレット用レスポンシブ*/
@media screen and (685px < width <= 1024px) {

    /*全体を中央に配置*/
    .center-frame{
        width: 90%;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    .contact{
        display: none;
    }

    .recommend .topic{
        width: 270px;
        height: fit-content;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    iframe{
        width: 100%;
        height: 400px;
    }

    .snslink a{
        margin: 0px 20px;
    }
}


/*スマホ用レスポンシブ*/
@media screen and (width <= 685px) { 

    /*全体を中央に配置*/
    .center-frame{
        width: 90%;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    .contact{
        display: none;
    }

    .recommend .topic{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    iframe{
        width: 100%;
        height: 250px;
    }

    .snslink a{
        margin: 0px 10px;
    }
}